# Compiled class file
*.class
*.idea
*.iml
*target
# Log file
*.log
*.cmake
CMakeCache.*
CMakeFiles*
Makefile
# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.rar

# pubilc
.idea
.DS_Store
*/.DS_Store
node_modules
public/build
npm-debug.log
yarn.lock
package-lock.json